@media all {
.wrapping-col > .margim-home,
.wrapping-col > .afScrollPanel > .margim-home {  margin-left:6px;
  margin-right:6px;
}

.wrapping-col > .margim-home,
.wrapping-col > .afScrollPanel > .margim-home {  margin-left:6px;
  margin-right:6px;
}

.margim-home {  margin-top:40px;
}

}

