@media all {
.tsrtext input,
.tsrtext textarea,
.tsrtext ::-webkit-input-placeholder {  font-size:18px;
  font-style:normal;
  font-weight:bold;
  color:#000080;
  font-family:sans-serif;
  text-decoration:none;
  text-align:center;
}

.tsrtext input,
.tsrtext textarea,
.tsrtext ::-webkit-input-placeholder {  font-size:18px;
  font-style:normal;
  font-weight:bold;
  color:#000080;
  font-family:sans-serif;
  text-decoration:none;
  text-align:center;
}

.tsrtext input,
.tsrtext textarea,
.tsrtext ::-webkit-input-placeholder {  font-size:18px;
  font-style:normal;
  font-weight:bold;
  color:#000080;
  font-family:sans-serif;
  text-decoration:none;
  text-align:center;
}

}

