@media all {
.cep {  width:100px;
  min-width:100px;
  max-width:100px;
}

.table-thing.cep {  width:100px;
}

 .table-thing.cep {  min-width:100px;
  max-width:100px;
}

.cep > .narrow-control {  text-align:center;
}

}

