@media all {
.wrapping-col > .cepmargim,
.wrapping-col > .afScrollPanel > .cepmargim {  margin-left:6px;
  margin-right:6px;
}

.wrapping-col > .cepmargim,
.wrapping-col > .afScrollPanel > .cepmargim {  margin-left:6px;
  margin-right:6px;
}

.vertical-col > .cepmargim,
.vertical-col > .afScrollPanel > .cepmargim {  margin-left:25px;
}

.vertical-col > .cepmargim,
.vertical-col > .afScrollPanel > .cepmargim {  margin-left:25px;
}

.cepmargim {  margin-top:5px;
}

}

