@media all {
.wrapping-col > .img1,
.wrapping-col > .afScrollPanel > .img1 {  margin-left:6px;
  margin-right:6px;
}

.wrapping-col > .img1,
.wrapping-col > .afScrollPanel > .img1 {  margin-left:6px;
  margin-right:6px;
}

}

