@media all {
.wrapping-col > .margin-maps,
.wrapping-col > .afScrollPanel > .margin-maps {  margin-left:6px;
  margin-right:6px;
}

.wrapping-col > .margin-maps,
.wrapping-col > .afScrollPanel > .margin-maps {  margin-left:6px;
  margin-right:6px;
}

.margin-maps {  margin-top:5px;
}

}

