@media all {
.wrapping-col > .mbtn,
.wrapping-col > .afScrollPanel > .mbtn {  margin-left:6px;
  margin-right:6px;
}

.wrapping-col > .mbtn,
.wrapping-col > .afScrollPanel > .mbtn {  margin-left:6px;
  margin-right:6px;
}

.mbtn {  margin-top:25px;
}

}

