@media all {
.tam {  width:100px;
  min-width:50px;
  max-width:100px;
}

.table-thing.tam {  width:100px;
}

 .table-thing.tam {  min-width:50px;
  max-width:100px;
}

.tam > .narrow-control {  text-align:left;
  padding-left:11px 11px 0px 0px;
  padding-right:11px 11px 0px 0px;
}

}

